@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;400&family=Bodoni+Moda:opsz,wght@6..96,400;6..96,900&family=Jost:ital,wght@0,300;0,400;0,500;0,700;1,200&family=Montserrat&family=PT+Sans&family=Pontano+Sans&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,200&family=Raleway:ital,wght@0,500;1,300&family=Roboto+Condensed&family=Ubuntu:wght@400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
    color: white;
}
  

.header{
    position: relative;
    min-height: 60vh;
    background-color: gray;
    background: url("bg5image.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.container{
    max-width: 1200px;
    margin: auto;
    width: 90%;
}

.nav{
    min-height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-items{
    width: 40%;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.headline{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.btn{
    display: inline-block;
    outline: none;
    border: none;
    cursor: pointer;
}

.btn-headline{
    padding: 1rem 2rem;
    font-size: 1rem;
    margin-top: 1rem;
    border-radius: .5rem;
    font-weight: 500;
}

.section-todo{
    text-align: center;
    margin-top: 3rem;
}

.form-todo {
    min-height: 5vh;
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.form-todo input{
    min-height: 100%;
}

.form-todo input[type="text"] {
    width: 78%;
    padding: 0.8rem;
    font-size: 1rem;
    font-weight: 400;
}

.form-todo input[type="submit"] {
    width: 20%;
    background: rgb(44, 55, 63);
    color: white;
    font-weight: bold;
}

.todo-list{
    text-align: left;
    font-size: 1.2rem;
    list-style-type: none;
}

.todo-list li{
    padding: 0.7rem;
    background: #444;
    color: cyan;
    margin-top: 1rem;
    text-transform: capitalize;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.todo-btn{
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 0.5rem;
    cursor: pointer;
    border: none;
    opacity: none;
}

.section-signup{
    margin-top: 3rem;
    text-align: center;
    background-color: rgb(240, 240, 240);
    padding: 1rem;
}

.signup-form{
    max-width: 800px;
    width: 95%;
    text-align: left;
    margin: auto;
}

.form-group{
    margin-top: 1rem;
}

.signup-form label{
    display: block;
}

.signup-form input{
    display: block;
    width: 100%;
    margin: auto;
    padding: 0.5rem;
}

.signup-form textarea{
    width: 100%;
}

.signup-btn{
    background: rgb(44, 55, 63);
    color: white;
    padding: 1rem 2rem;
    display: block;
    margin: auto;
    margin-top: 1rem;
}



/*@media (max-width: 500px){
    .nav-items{
        display: grid;

    }
}
*/